# Hardhat
node_modules
cache
artifacts
deployments/*
!deployments/.gitkeep
coverage
coverage.json
typechain-types

# Environment variables
.env

# Hardhat ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Build outputs
dist
build

# Frontend (caso adicione depois)
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
.coverage_artifacts
.coverage_cache
